<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>porofolio arjuna</title>
    <!-- 👇 css code file 👇 -->
    <link href="/style/output.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7a50dbed68.js" crossorigin="anonymous"></script>
  </head>
  </head>
  <body  id="top" class="">
    <!-- header start -->
    <header class="bg-transparent absolute top-0 left-0 w-full flex items-center z-10">
      <div class="container">
        <div class="flex items-center justify-between relative">
          <div class="px-4 ml-5">
            <a href="#home" class="font-pangolin font-bold text-xl text-colorText block py-6">Arjuna</a>
          </div>
          <div class="flex items-center px-4"> 
            <button id="navbar" type="button" class="block absolute right-4  lg:hidden">
              <span class="navbar transition duration-300 ease-in-out origin-top-left "></span> 
              <span class="navbar transition duration-300 ease-in-out"></span>
              <span class="navbar transition duration-300 ease-in-out origin-bottom-left"></span>
            </button>
            <nav id="nav-menu" class="hidden mt-2 absolute py-5 bg-menu border border-cyan-950 lg:border-none bg-opacity-80 shadow-lg rounded-lg max-w-[220px] w-full right-4 top-full  lg:block  lg:static lg:bg-transparent lg:max-w-full lg:shadow-none lg:rounded-none">
              <ul class="block  lg:flex">
                <li class="group">
                  <a href="/index.html" class="text-base text-white lg:text-white py-2 mx-8 flex group-hover:text-colorText transition duration-300 font-noto tracking-widest font-bold">Home</a> 
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- header end -->
    <!-- about me start -->

    <section id="about" class=" h-4/5 " >
      <div class=" bg-gradient-to-t from-linear1  to-linear1 h-4/5 py-40 w-screen">
        <div  class="w-full flex  items-center justify-center ">
          <img src="/src/aset/img/bgTop.jpeg"  class="h-auto w-60 md:w-72 py-6" alt="background kucing">
        </div>
        <div  class="w-full h-auto flex flex-wrap ">
          <h1 class="text-white text-3xl md:text-4xl mx-auto font-semibold font-noto">WHO AM <span class="text-colorText"> I </span>?
          </h1>
          <div class="w-full flex flex-col mt-2">
            <h2 class="mx-auto text-white tracking-widest font-bold text-2xl sm:text-3xl md:text-3xl">Arjuna</h2>
            <p class="text-lg sm:text-sm md:text-sm text-white mx-auto">FRONT END DEV</p>
          </div>
          <div class="w-full mt-2">
            <p class="text-center px-2 mx-auto max-w-18 sm:px-0 md:px-0  sm:mx-auto md:mx-auto text-white md:text-lg md:max-w-xl ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae blanditiis optio, voluptas commodi veritatis totam officia quia minus nesciunt quibusdam.</p>
          </div>
          <button   class="bg-primary text-white ease-in-out mx-auto duration-150 uppercase hover:shadow-lg  hover:-translate-y-1 transition delay-75 drop-shadow-md hover:shadow-blue-900 font-medium text-s w-24 h-8  rounded-xl mt-5 md:mt-9"><i class="fa-regular fa-address-card fa-xl mr-2 "></i><a href="/index.html">HOME</a> </button>
        </div>
      </div>
    </section>
    <!-- about me end  -->

    

    <!-- 👇 javascript code file 👇 -->
    <script src="/src/js/index.js"></script>
  </body>
</html>
