<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>porofolio arjuna</title>
    <!-- 👇 css code file 👇 -->
    <link href="/style/output.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7a50dbed68.js" crossorigin="anonymous"></script>
  </head>
  </head>
  <body  id="top" class="">
    <!-- header start -->
    <header class="bg-transparent absolute top-0 left-0 w-full flex items-center z-10">
      <div class="container">
        <div class="flex items-center justify-between relative">
          <div class="px-4 ml-5">
            <a href="/index.html" class="font-pangolin font-bold text-xl text-colorText block py-6">Arjuna</a>
          </div>
          <div class="flex items-center px-4"> 
            <button id="navbar" type="button" class="block absolute right-4  lg:hidden">
              <span class="navbar transition duration-300 ease-in-out origin-top-left "></span> 
              <span class="navbar transition duration-300 ease-in-out"></span>
              <span class="navbar transition duration-300 ease-in-out origin-bottom-left"></span>
            </button>
            <nav id="nav-menu" class="hidden mt-2 absolute py-5 bg-menu border border-cyan-950 lg:border-none bg-opacity-80 shadow-lg rounded-lg max-w-[220px] w-full right-4 top-full  lg:block  lg:static lg:bg-transparent lg:max-w-full lg:shadow-none lg:rounded-none">
              <ul class="block  lg:flex">
                <li class="group">
                  <a href="/index.html" class="text-base text-white lg:text-white py-2 mx-8 flex group-hover:text-colorText transition duration-300 font-noto tracking-widest font-bold">Home</a> 
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- header end -->
  
    <!-- service section start --> 
    <section id="service" class=" w-screen ">
     <div class=" bg-gradient-to-t from-linear1  to-linear2 h-120 md:h-full w-screen lg:h-full lg:pb-32 py-40">
      <div class="w-full h-full pt-5 ">
        <div class="w-full  flex md:mb-8 ">
          <div class=" h-full  mx-auto ">
            <h1 class="text-blue-100 font-bold text-xs md:text-sm tracking-widest">SERVICE</h1> 
            <h2 class="text-right text-xl md:text-2xl font-bold leading-3 md:leading-none mb-4 ml-5 text-colorText">SKILL SET</h2>
          </div> 
        </div>
        <!-- card start -->
        <div class="container mx-auto md:flex md:flex-wrap lg:flex lg:flex-wrap lg:gap-3 xl:flex xl:flex-wrap xl:gap-1  ">
          <div class=" w-80  h-48 outline outline-offset-0 outline-1 outline-sky-950 hover:shadow-lg hover:shadow-blue-800 rounded-lg shadow-lg transition-shadow ease-in-out duration-500 delay-75 mb-6 flex bg-slate-900 mx-auto  overflow-hidden">
            <div class="w-full ">
              <div  class="flex w-full   flex-row">
                <i class="fa-brands fa-html5 fa-xl mr-2 ml-3 mt-5" style="color: #d82c2c;"></i>
                <h1 class="font-bold self-center pt-7 text-white">HTML 5</h1> 
              </div>
              <p class="justify-center font-noto items-center ml-3 text-white mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam accusantium cum eius dolores architecto consectetur error exercitationem, natus distinctio tempora vero necessitatibus commodi non !</p>
            </div>
          </div>
          <div class=" w-80  h-48 outline outline-offset-0 outline-1 outline-sky-950 hover:shadow-lg hover:shadow-blue-800 rounded-lg shadow-lg transition-shadow ease-in-out duration-500 delay-75 mb-6 flex bg-slate-900 mx-auto  overflow-hidden">
            <div class="w-full ">
              <div  class="flex w-full   flex-row">
                <i class="fa-brands fa-square-js fa-xl mr-2 ml-3 mt-5" style="color: #ffaf24;"></i>
                <h1 class="font-bold self-center pt-7 text-white">JAVASCRIPT</h1> 
              </div>
              <p class="justify-center font-noto items-center ml-3 text-white mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam accusantium cum eius dolores architecto consectetur error exercitationem, natus distinctio tempora vero necessitatibus commodi non !</p>
            </div>
          </div>
          <div class=" w-80  h-48 outline outline-offset-0 outline-1 outline-blue-950 hover:shadow-lg hover:shadow-blue-800 rounded-lg shadow-lg transition-shadow ease-in-out duration-500 delay-75 mb-6 flex bg-slate-900 mx-auto  overflow-hidden">
            <div class="w-full ">
              <div  class="flex w-full   flex-row">
                <i class="fa-brands fa-css3-alt fa-xl mr-2 ml-3 mt-5" style="color: #044ecd;"></i>
                <h1 class="font-bold self-center pt-7 text-white">CSS</h1> 
              </div>
              <p class="justify-center font-noto items-center ml-3 text-white mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam accusantium cum eius dolores architecto consectetur error exercitationem, natus distinctio tempora vero necessitatibus commodi non !</p>
            </div>
          </div>
          <div class=" w-80  h-48 outline outline-offset-0 outline-1 outline-blue-950 hover:shadow-lg hover:shadow-blue-800 rounded-lg shadow-lg transition-shadow ease-in-out duration-500 delay-75 mb-6 flex bg-slate-900 mx-auto  overflow-hidden">
            <div class="w-full ">
              <div  class="flex w-full   flex-row">
                <img class="aspect-auto w-6 h-6 bg-cover mr-2 ml-3 mt-2" src="/src/aset/img/tailwindLogo.webp" alt="">
                <h1 class="font-bold self-center pt-7 text-white">TAILWINDCSS</h1> 
              </div>
              <p class="justify-center font-noto items-center ml-3 text-white mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam accusantium cum eius dolores architecto consectetur error exercitationem, natus distinctio tempora vero necessitatibus commodi non !</p>
            </div>
          </div>
          <div class=" w-80  h-48 outline outline-offset-0 outline-1 outline-blue-950 hover:shadow-lg hover:shadow-blue-800 rounded-lg shadow-lg transition-shadow ease-in-out duration-500 delay-75 mb-6 flex bg-slate-900 mx-auto  overflow-hidden">
            <div class="w-full ">
              <div  class="flex w-full   flex-row">
                <i class="fa-brands fa-bootstrap fa-xl mr-2 ml-3 mt-5" style="color: #6803e2;"></i>
                <h1 class="font-bold self-center pt-7 text-white">BOOSTRAP</h1> 
              </div>
              <p class="justify-center font-noto items-center ml-3 text-white mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam accusantium cum eius dolores architecto consectetur error exercitationem, natus distinctio tempora vero necessitatibus commodi non !</p>
            </div>
          </div>
          <div class=" w-80  h-48 outline outline-offset-0 outline-1 outline-blue-950 hover:shadow-lg hover:shadow-blue-800 rounded-lg shadow-lg transition-shadow ease-in-out duration-500 delay-75 mb-6 flex bg-slate-900 mx-auto  overflow-hidden ">
            <div class="w-full ">
              <div  class="flex w-full   flex-row">
                <img class="aspect-auto w-7 h-7 bg-cover mr-2 ml-3 mt-2" src="/src/aset/img/iconPs.png" alt="">
                <h1 class="font-bold self-center pt-7 text-white">PHOTOSHOP</h1> 
              </div>
              <p class="justify-center font-noto items-center ml-3 text-white mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam accusantium cum eius dolores architecto consectetur error exercitationem, natus distinctio tempora vero necessitatibus commodi non !</p>
            </div>
          </div>
          <div class=" w-80  h-48 outline outline-offset-0 outline-1 outline-blue-950 hover:shadow-lg hover:shadow-blue-800 rounded-lg shadow-lg transition-shadow ease-in-out duration-500 delay-75 mb-6 flex bg-slate-900 mx-auto  overflow-hidden">
            <div class="w-full ">
              <div  class="flex w-full   flex-row">
                <img class="aspect-auto w-6 h-6 rounded-lg bg-cover mr-2 ml-3 mt-2" src="/src/aset/img/coreldrawIcon.png" alt="">
                <h1 class="font-bold self-center pt-7 text-white">COREL</h1> 
              </div>
              <p class="justify-center font-noto items-center ml-3 text-white mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam accusantium cum eius dolores architecto consectetur error exercitationem, natus distinctio tempora vero necessitatibus commodi non !</p>
            </div>
          </div>
          <div class=" w-80  h-48 outline outline-offset-0 outline-1 outline-blue-950 hover:shadow-lg hover:shadow-blue-800 rounded-lg shadow-lg transition-shadow ease-in-out duration-500 delay-75 mb-6 flex bg-slate-900 mx-auto  overflow-hidden">
            <div class="w-full ">
              <div  class="flex w-full   flex-row">
                <i class="fa-brands fa-node fa-xl mr-2 ml-3 mt-5" style="color: #0ba118;"></i>
                <h1 class="font-bold self-center pt-7 text-white">NODEJS</h1> 
              </div>
              <p class="justify-center font-noto items-center ml-3 text-white mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam accusantium cum eius dolores architecto consectetur error exercitationem, natus distinctio tempora vero necessitatibus commodi non !</p>
            </div>
          </div>
          <div class=" w-80  h-48 outline outline-offset-0 outline-1 outline-blue-950 hover:shadow-lg hover:shadow-blue-800 rounded-lg shadow-lg transition-shadow ease-in-out duration-500 delay-75 mb-6 flex bg-slate-900 mx-auto  overflow-hidden">
            <div class="w-full ">
              <div  class="flex w-full   flex-row">
                <img class="aspect-auto w-6 h-6 bg-white rounded-lg bg-cover mr-2 ml-3 mt-2" src="/src/aset/img/router.png" alt="">
                <h1 class="font-bold self-center pt-7 text-white">MIKROTIK</h1> 
              </div>
              <p class="justify-center font-noto items-center ml-3 text-white mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam accusantium cum eius dolores architecto consectetur error exercitationem, natus distinctio tempora vero necessitatibus commodi non !</p>
            </div>
          </div>
          <div class=" w-80  h-48 outline outline-offset-0 outline-1 outline-blue-950 hover:shadow-lg hover:shadow-blue-800 rounded-lg shadow-lg transition-shadow ease-in-out duration-500 delay-75 mb-6 flex bg-slate-900 mx-auto  overflow-hidden">
            <div class="w-full ">
              <div  class="flex w-full   flex-row">
                <img class="aspect-auto w-6 h-6 bg-white rounded-lg bg-cover mr-2 ml-3 mt-2" src="/src/aset/img/cissco.png" alt="">
                <h1 class="font-bold self-center pt-7 text-white">CISCO</h1> 
              </div>
              <p class="justify-center font-noto items-center ml-3 text-white mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam accusantium cum eius dolores architecto consectetur error exercitationem, natus distinctio tempora vero necessitatibus commodi non !</p>
            </div>
          </div>
          <div class="flex w-full flex-wrap mt-12 ">
            <button class="rounded-lg w-24 h-7 hover:shadow-lg transition-all ease-in-out delay-75 duration-150 hover:-translate-y-1 origin-left hover:shadow-blue-950 shadow-sm drop-shadow-sm shadow-blue-900 bg-primary text-white text-base  font-semibold  mx-auto "><a href="/index.html">HOME</a></button>
          </div>
          
        </div>
       </div>
      </section>
    </div>
    <!-- service section end -->
    <!-- 👇 javascript code file 👇 -->
    <script src="/src/js/index.js"></script>
  </body>
</html>
